:root.dark {
  --menu: #2b3b42;
  --content: #364952;
  --nav: #1d2c38;
  --fontColor: #FAF0E6;
  --highlight: #567787;
  --task:#567787;
  --hover:#43606e;
  }
  :root {
    --content: #3b4e64;
    --nav: #252B48;
    --menu: #2c3955;
    --highlight: #97b6f0;
    --fontColor: #FAF0E6;
    --task:#5a7099;
    --hover:#516386;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
    color: var(--fontColor);
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav);
    position: fixed;
    top: 0px;
    padding: 0 12.5%;
    width: 100vw;
    height: 4.5rem;
    z-index: 50;
  }
  .nav >div {
    margin-right: auto;
  }
  h4{
    font-size: 20px;
  }
  #toggle {
    cursor: pointer;
    width: 50px;
    height: 30px;
    background-color: var(--highlight);
    display: block;
    border-radius: 100px;
    position: relative;
    
    margin-left:auto ;
  
  }
  
  .switch {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 3px);
    height: calc(100% - 8px);
    background-color: #364952;
    border-radius: 30px;
    transition: left 0.5s ease;
  }
  
  .switch.darkMode {
    left: calc(50% - 2px);
    background-color: rgb(0, 0, 0);
  }
  .body{
    width: 100%;
    min-height:calc(100vh - 4.5rem) ;
    margin-top: 4.5rem;
    background-color: var(--content);
    display: flex;
    flex-direction: crow;

  }
  .menu{
    padding: 1.5rem;
    width: min(27%,300px);
    background-color: var(--menu);
    display: grid;
    grid-template-rows: repeat(6,50px);
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    justify-content: center;
    justify-items: center;
    gap: 13px;
  }
  .menuContent{
    border-radius: 13px;
    background-color: var(--content);
    display: flex;
    align-items: center;/* 
    border: 2px solid black; */
    width: min(100%,210px);
    padding: 1rem;
  }
  .menuContent:hover{
    background-color: var(--hover);
  }
  .menuSection{
    border-bottom: 3px solid var(--highlight);
    display: flex;
    align-items:center;
    width: min(100%,240px);
    justify-content: flex-start;
  }
  .menu div:hover{
    cursor: pointer;
  }
  .content{
    padding: 3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .addTask {
    height: 13vh;/* 
    margin-top: 4rem; */
    display: flex;
    align-items: center;
    position: sticky;
    top: 4rem;/* 
    background-color: var(--menu); */
  }
  
  .addBtn {
    /* width: 10vmax; */
    height: 8vh;
    margin: auto;
    display: flex;
    padding: 0 14px;
    justify-content: center;
    align-items: center;
    background-color: var(--menu);
    font-size: 22px;
    border-radius: 25px;
    transition: height 0.2s ease;
    transition: width 0.2s ease;
  }
  
  .addBtn:hover {
    background-color: var(--hover);
    /* width: 10.3vmax; */
    padding: 0 17px;
    height: 8.5vh;
    cursor: pointer;
  }
  .task{
    border-radius: 15px;
    width: 90%;
    height: 5rem;
    background-color: var(--task);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.9rem;
  }
  .task > div{
    padding: 5px;
    height: 2rem;
  }
  .taskName{
    flex-grow: 1;
  }
  .task input{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 30px;
  }
  
  .prompt {
    z-index: 50;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    backdrop-filter: blur(4px);
    display: none;
    justify-content: center;
    align-items: center;
    transition: display 0.2s ease;
  }
  
  .taskDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 1.5rem;
    background-color: var(--menu);
    border-radius: 30px;
    position: relative;
    z-index: 1;
  }
  
  .taskDetails >input {
    border-radius: 13px;
    padding: 8px 5px;
    color: #000000;
    font-size: 15px;
    width: 20vw;
    margin-bottom: 10px;
  }
  
  .taskDetails div{
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    transition: width 0.2s ease;
    transition: height 0.2s ease;
  }
  .taskDetails > div > label{
  margin-right: auto;
  }
  .taskDetails > div > input{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  #crossIcon{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    z-index: 200;
    color: var(--highlight);
    font-size: 25px;
    cursor: pointer;
  }
  .taskDetails >div:last-of-type{
   /*  border: 2px solid white; */
    width: 50%;
    background-color: var(--content);
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .taskDetails >div:last-of-type:hover{
    width: 50.5%;
    height: 3.1rem;
    background-color: var(--hover);
    cursor: pointer;
  
   }

  @media only screen and (max-width:650px){
    .body{
      flex-direction: column;
    }
    .menu{
      width: 100%;
      padding: 1rem;
    }
    .content{
      width: 100%;
    }
  }
  @media only screen and (max-width:900px) {
    
    .taskDetails input {
      
      width: 40vw;
      
    }
  }
  
  @media only screen and (max-width:500px) {
    
    .taskDetails input {
      
      width: 60vw;
      
    }
  }